<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.apps.basictwitter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TwitterApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_twitter_blue"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--android:theme="@style/Theme.AppCompat.Light" >-->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="RestClient.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name=".activities.LoginActivity"
            android:icon="@drawable/ic_twitter_white"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cpbasictweets"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TimelineActivity"
            android:icon="@drawable/ic_twitter_white"
            android:label="@string/title_activity_timeline"
            android:parentActivityName=".activities.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codepath.apps.basictwitter.activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.ComposeActivity"
            android:label="@string/title_activity_compose"
            android:icon="@drawable/ic_twitter_white"
            android:parentActivityName=".activities.TimelineActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codepath.apps.basictwitter.activities.TimelineActivity" />
        </activity>
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:icon="@drawable/ic_twitter_white"
            android:parentActivityName=".activities.TimelineActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codepath.apps.basictwitter.activities.TimelineActivity" />
        </activity>
        <activity
            android:name=".activities.ThirdPartyActivity"
            android:label="@string/title_activity_third_party"
            android:icon="@drawable/ic_twitter_white"
            android:parentActivityName=".activities.TimelineActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codepath.apps.basictwitter.activities.TimelineActivity" />
        </activity>
    </application>
</manifest>
